$primary-pink-color: #d71379;
$primary-pink-hover-color: #ffaad7;
$primary-pink-light-color: #fff1f8;

$outline-color: #fafafa;
$white-color: #ffffff;

$standard-text-color: #1d1d1b;

$gray-color: #818181;
$gray-light-color: #e5e5e5;
$disable-gray-color: #b8b8b8;
$checkout-bg-color: #f6f6f6;

$danger-color: #d91015;
$success-color: #00c371;
