wp-content/plugins/*
wp-content/uploads/*
wp-content/.litespeed_conf.dat
wp-content/ewww
wp-content/litespeed

node_modules
# ignore log files and databases
*.log
*.sql
*.sqlite




# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


.idea/
.vscode/
TEST*.xml
.DS_Store
Thumbs.db

