wp-content/plugins/*
wp-content/uploads/*
wp-content/ewww

node_modules
# ignore log files and databases
*.log
*.sql
*.sqlite

.litespeed_conf.dat
installer.php

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


.idea/
.vscode/
TEST*.xml
.DS_Store
Thumbs.db

